{% extends "base.html" %}

{% block content %}
<h2>Dashboard: {{ user }}</h2>
<ul class="list-group">
    <li class="list-group-item"><a href="{{ url_for('send_message') }}">Send Message</a></li>
    <li class="list-group-item"><a href="{{ url_for('create_group_route') }}">Create Group</a></li>
    <li class="list-group-item"><a href="{{ url_for('delete_group_route') }}">Delete Group</a></li>
    <li class="list-group-item"><a href="{{ url_for('add_member_route') }}">Add Member to Group</a></li>
    <li class="list-group-item"><a href="{{ url_for('remove_member_route') }}">Remove Member from Group</a></li>
    <li class="list-group-item"><a href="{{ url_for('edit_message_route') }}">Edit Message</a></li>
    <li class="list-group-item"><a href="{{ url_for('change_info_route') }}">Change User Info</a></li>
    <li class="list-group-item"><a href="{{ url_for('get_my_msgs') }}">View Messages</a></li>
    <li class="list-group-item"><a href="{{ url_for('profile_pic_route') }}">View Profile Picture</a></li>
    <li class="list-group-item"><a href="{{ url_for('search_users_route') }}">Search Users</a></li>
</ul>
{% endblock %}
